.breadCrums{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-family: Poppins;
    font-size: 16px;
    font-weight:600;
    margin: 30px 20px;
    text-transform: capitalize;
}