/* .popular{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    height: 90vh; 
} */
.popular{
  width: 90%;
height: 90vh;
display: flex;
justify-content: space-around;
flex-direction: column;
align-items: space-between;
margin: auto;
gap: 10px;

}
.popular h1{
    color: #171717;
    margin-top: 40px ;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.popular hr{
   margin: auto;
    width: 200px;
    height: 16px;
    border-radius: 10px;
    background-color: #252525;
}.popular-item{
    margin-top: 50px;
    display: flex;
    gap:30px;
    justify-content: center;
}.popular-item img{
    width: 100%;
}